{% extends "layout.html" %}
{% block content %}
  <div class="content-section">
    <div class="media">
      <img class="rounded-circle account-img" src="{{ image_file }}">
      <div class="media-body">
        <h2 class="account-heading">{{ current_user.username }}</h2>
        <p class="text-secondary">{{ current_user.email }}</p>
      </div>
    </div>
  <!-- FORM HERE -->
    <form class="p-4 p-md-5 border rounded-3 bg-light" method="POST" enctype="multipart/form-data">
          {{ form.hidden_tag() }}
          <div class="form-floating mb-3">
            {% if form.username.errors %}
            {{ form.username(class="form-control is-invalid", placeholder="name@example.com") }}
              <div class="invalid-feedback">
                {% for error in form.username.errors %}
                <span>{{ error }}</span>
                {% endfor %}
              </div>
            {% else %}
              {{ form.username(class="form-control", placeholder="name@example.com") }}
             {% endif  %}
            {{ form.username.label(for="floatingInput") }}
          </div>
          <div class="form-floating mb-3">
            {% if form.email.errors %}
            {{ form.email(class="form-control is-invalid", placeholder="name@example.com") }}
              <div class="invalid-feedback">
                {% for error in form.email.errors %}
                <span>{{ error }}</span>
                {% endfor %}
              </div>
            {% else %}
              {{ form.email(class="form-control", placeholder="name@example.com") }}
             {% endif  %}
            {{ form.email.label(for="floatingInput") }}
          </div>
        <div class="mb-3">
            {{ form.picture.label(for="formFileSm", class="form-label") }}
            {{ form.picture(class="form-control, form-control-sm", id="formFileSm", type="file") }}
            {% if form.picture.errors %}
                {% for error in form.picture.errors %}
                    <span class="text-danger">{{ error }}</span></br>
                {% endfor %}
            {% endif %}
        </div>
            {{ form.submit(type="submit", class="btn btn-secondary") }}
        </form>
  </div>
{% endblock content%}