{% extends "layout.html" %}
{% block content %}
    <div class="col-md-10 mx-auto col-lg-5">
        <form class="p-4 p-md-5 border rounded-3 bg-light" method="POST">
          {{ form.hidden_tag() }}
          <legend class="border-bottom mb-4">{{ legend }}</legend>
          <div class="form-floating mb-3">

            {% if form.title.errors %}
            {{ form.title(class="form-control is-invalid", placeholder="name@example.com") }}
              <div class="invalid-feedback">
                {% for error in form.title.errors %}
                <span>{{ error }}</span>
                {% endfor %}
              </div>
            {% else %}
              {{ form.title(class="form-control", placeholder="name@example.com") }}
             {% endif  %}
            {{ form.title.label(for="floatingInput") }}
          </div>
          <div class="form-floating mb-3">
            {% if form.content.errors %}
            {{ form.content(class="form-control is-invalid", placeholder="name@example.com") }}
              <div class="invalid-feedback">
                {% for error in form.content.errors %}
                <span>{{ error }}</span>
                {% endfor %}
              </div>
            {% else %}
              {{ form.content(class="form-control", placeholder="name@example.com") }}
             {% endif  %}
            {{ form.content.label(for="floatingInput") }}
          </div>
          <div class="form-group">
            {{ form.submit(type="submit", class="btn btn-secondary") }}
          </div>
        </form>
      </div>
{% endblock content%}