{% extends "layout.html" %}
{% block main %}
  <div class="b-example-divider"></div>

  <div class="container col-xl-10 col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-lg-5 py-5">
      <div class="col-lg-7 text-center text-lg-start">
        <h1 class="display-4 fw-bold lh-1 mb-3">Blog</h1>
        <p class="col-lg-10 fs-4 text-justify">Hey my name is <strong>Radek</strong> and I'm a web developer from Newcastle, UK and
        currently I'm working remotely on projects fro clients all over the world.</p>
        <p class="col-lg-10 fs-5">I have a diverse set of skills, ranging from design, HTML + CSS + Javascript, all the way to .Net Core, C#, ASP.Net and
        Flask, Python as well as Linux server administration.</p>
      </div>
      <div class="col-md-10 mx-auto col-lg-5">
        <form class="p-4 p-md-5 border rounded-3 bg-light" method="POST">
          {{ form.hidden_tag() }}
          <div class="form-floating mb-3">
            {% if form.username.errors %}
            {{ form.username(class="form-control is-invalid", placeholder="name@example.com") }}
              <div class="invalid-feedback">
                {% for error in form.username.errors %}
                <span>{{ error }}</span>
                {% endfor %}
              </div>
            {% else %}
              {{ form.username(class="form-control", placeholder="name@example.com") }}
             {% endif  %}
            {{ form.username.label(for="floatingInput") }}
          </div>
          <div class="form-floating mb-3">
            {% if form.email.errors %}
            {{ form.email(class="form-control is-invalid", placeholder="name@example.com") }}
              <div class="invalid-feedback">
                {% for error in form.email.errors %}
                <span>{{ error }}</span>
                {% endfor %}
              </div>
            {% else %}
              {{ form.email(class="form-control", placeholder="name@example.com") }}
             {% endif  %}
            {{ form.email.label(for="floatingInput") }}
          </div>
          <div class="form-floating mb-3">
            {% if form.password.errors %}
            {{ form.password(class="form-control is-invalid", placeholder="name@example.com") }}
              <div class="invalid-feedback">
                {% for error in form.password.errors %}
                <span>{{ error }}</span>
                {% endfor %}
              </div>
            {% else %}
              {{ form.password(class="form-control", placeholder="name@example.com") }}
             {% endif  %}
            {{ form.password.label(for="floatingInput") }}
          </div>
          <div class="form-floating mb-3">
             {% if form.confirm_password.errors %}
            {{ form.confirm_password(class="form-control is-invalid", placeholder="name@example.com") }}
              <div class="invalid-feedback">
                {% for error in form.confirm_password.errors %}
                <span>{{ error }}</span>
                {% endfor %}
              </div>
            {% else %}
              {{ form.confirm_password(class="form-control", placeholder="name@example.com") }}
             {% endif  %}
            {{ form.confirm_password.label(for="floatingInput") }}
          </div>

            {{ form.submit(type="submit", class="btn btn-secondary") }}
          <hr class="my-4">
          <small class="text-muted">By clicking Sign up, you agree to the terms of use.</small>
        </form>

        <small class="text-muted">
          </br>Already Have An Account? <a class="ml-2" href="{{ url_for('users.login') }}">Sign In</a>
        </small>

      </div>
    </div>

  </div>

{% endblock main %}